click==8.1.7
colorama==0.4.6
duckdb==1.0.0
harlequin==1.21.0
Jinja2==3.1.4
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
numpy==1.26.4
pandas==2.2.2
platformdirs==4.2.2
prompt-toolkit==3.0.36
pyarrow==16.1.0
Pygments==2.18.0
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
questionary==2.0.1
rich==13.7.1
rich-click==1.8.3
setuptools==70.1.0
shandy-sqlfmt==0.21.3
six==1.16.0
textual==0.56.4
textual-fastdatatable==0.7.1
textual-textarea==0.13.0
tomlkit==0.12.5
tqdm==4.66.4
tree-sitter==0.20.4
tree-sitter-languages==1.10.2
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
wcwidth==0.2.13
